body {
  background-color: rgb(5, 20, 43);
  color: #fff;
  padding: 30px 10%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  box-sizing: border-box;
}

.stageActivator {
  display: none;
}

.stage {
  display: block;
  width: 400px;
  height: 400px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #ffffff88;
  background-color: rgb(5, 20, 43);
  .center {
    position: relative;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
  }
}

$star-size: 50px;
$dot-size: 10px;

.star {
  position: absolute;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    width: $star-size;
    height: $star-size;
    left: $star-size * -0.5;
    top: $star-size * -0.5;
    background-image: url(/imgs/star.svg);
    background-size: $star-size;
    background-repeat: no-repeat;
  }
}
.dot {
  position: absolute;
  width: $dot-size;
  height: $dot-size;
  left: $dot-size * -0.5;
  top: $dot-size * -0.5;
  border-radius: $dot-size;
  transition: all 0.5s;
  opacity: 1;
  background-color: gold;
}
.wrapper {
  position: absolute;
  width: 0;
  height: 0;
}

#randomStages {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}